<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ output extension=".g.cs" #>
<#
	var configs = new Config[]
	{
		new Config()
		{
			ClassName = "FloatQuadTree",
		},
		new Config()
		{
			ClassName = "LongQuadTree",
		},
		new Config()
		{
			ClassName = "IntQuadTree",
		},
		new Config()
		{
			ClassName = "DoubleQuadTree",
		}
	};
#>
// ----------------------------
// This file is auto generated.
// Any modifications to this file will be overridden
// ----------------------------
using DtronixCommon.Collections.Trees;
using NUnit.Framework;

namespace DtronixCommon.Tests.Collections.Trees;

<#
	foreach (var config in configs)
	{
#>
public class <#=config.ClassName#>Tests : QuadTreeTestBase
{
    private <#=config.ClassName#><TestQuadTreeItem> DefaultQuadTree()
    {
        return new <#=config.ClassName#><TestQuadTreeItem>(1000, 1000, 8, 8);
    }

    [Test]
    public void ItemsReceiveIds()
    {
        var qt = DefaultQuadTree();
        var item = new TestQuadTreeItem();
        var item2 = new TestQuadTreeItem();
        qt.Insert(0, 0, 0, 0, item);
        qt.Insert(0, 0, 0, 0, item2);

        Assert.AreEqual(0, item.QuadTreeId);
        Assert.AreEqual(1, item2.QuadTreeId);
    }

    [Test]
    public void ItemInsert()
    {
        var qt = DefaultQuadTree();
        var item = new TestQuadTreeItem();
        qt.Insert(0, 0, 0, 0, item);

        Assert.AreEqual(0, item.QuadTreeId);
    }

    [Test]
    public void ItemInsertBeyondBounds()
    {
        var qt = DefaultQuadTree();
        var item = new TestQuadTreeItem();
        qt.Insert(50, 50, 60, 60, item);

        Assert.AreEqual(0, item.QuadTreeId);
    }

    [Test]
    public void ItemQueriedBeyondBounds()
    {
        var qt = DefaultQuadTree();
        var item = new TestQuadTreeItem();
        qt.Insert(50, 50, 60, 60, item);

        var items = qt.Query(0, 0, 5, 5);


    }

    [Test]
    public void MultipleQueriesReturnSameValue()
    {
        var qt = DefaultQuadTree();
        var item = new TestQuadTreeItem();
        for (int x = 0; x < 10; x++)
        {
            for (int y = 0; y < 10; y++)
            {
                qt.Insert(-x, -y, x, y, new TestQuadTreeItem());
            }
        }

        var items = qt.Query(-1000, -1000, 1000, 1000);
        var items2 = qt.Query(-1000, -1000, 1000, 1000);

        Assert.AreEqual(100, items.Count);
        Assert.AreEqual(100, items2.Count);


    }
}

<#
	}
#>
<#+
	private class Config
	{
        public string ClassName { get; set; }
	}

#>